:root{
  --secondary-color:'#FD8F5F';
}

body{
  font-family: "Playfair Display", serif;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

.linkWithBefore{
    border: 1px solid #FD8F5F;
    background: none;
    border-radius: 0px;
    text-transform: uppercase;
    padding: 17px 42px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0;
    position: relative;
    transition: color 0.4s linear;
    position: relative;
    overflow: hidden;
    margin: 0;
}

.linkWithBefore:hover::before{
  transform: scaleY(1);
  border: 1px solid transparent;
  color: #fff !important;
  z-index: -1;
}

.linkWithBefore::before{
    border: 1px solid transparent;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background: #FD8F5F;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: 
cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleY(0);
    border-radius: 0;
}
/* .hover-color .MuiTypography-root:hover{
  color: '#FD8F5F'
} */
